In [2]:
import pandas as pd
import numpy as np
import re
import os
import json
import datetime

In [3]:
# strip the alphabets
def strip(data):
    pattern = re.compile('[^0-9]', re.UNICODE)
    return re.sub(pattern, "", str(data))

In [4]:
filePath = '/Users/helix/Coding/attitude/data/'

In [5]:
data = pd.read_excel(filePath+'all_people.xlsx')
data = data[['id', '政治态度得分']]
data.columns = ['id', 'score']
data.dropna()
data.id = data.id.apply(strip)

In [6]:
data.head()

            id  score
0    201922301   4.14
1  20191721032   3.36
2    201906005   3.47
3    201906004   3.54
4    201823164   3.80

In [7]:
filePath = '/Users/helix/Coding/attitude/data/all_json/'
fileNames = os.listdir(filePath)
json_file = []
for fileName in fileNames:
    File = open(filePath+fileName)
    test = json.load(File)
    #print(fileName)
    test = np.array(test['vectors'])
    json_file.append([strip(fileName), test])
    File.close()

In [8]:
json_file = pd.DataFrame(json_file, columns=['id', 'vector'])

In [9]:
json_file.head()

             id                                             vector
0    1901140015  [[-1.579109286842105, 2.9206601189473687, -0.1...
1    1901362601  [[-1.7639175999999999, -3.2602275249999995, 2....
2      18110336  [[-4.3450105425, 0.24810093499999986, 4.423870...
3  190901191133  [[-5.1014285, 2.597416484444445, 5.91408673333...
4      19041230  [[-3.6661185405555554, 0.782676534861111, 2.68...

In [10]:
data.head()

            id  score
0    201922301   4.14
1  20191721032   3.36
2    201906005   3.47
3    201906004   3.54
4    201823164   3.80

In [11]:
data = pd.merge(data, json_file)

In [12]:
data = data.dropna()

In [13]:
data.head()

            id  score                                             vector
0    201922301   4.14  [[-4.648576633333334, -0.1527824666666667, 5.5...
1  20191721032   3.36  [[-2.462165133333333, -1.2517511333333333, 6.6...
2    201906004   3.54  [[-3.7282987317142857, 1.0043741571428575, 5.0...
3    201822048   3.98  [[-2.4070685, 1.4974684000000003, 0.9653421999...
4    201822042   3.51  [[-5.945544979999999, 2.07371892, 5.2692115799...

In [14]:
data.shape

(3423, 3)

In [15]:
def truncate(content):
    return content[0]

In [16]:
data['vector_100'] = data.vector.apply(truncate)

In [17]:
data.head()

,id,score,vector,vector_100
0,201922301,4.14,"[[-4.648576633333334, -0.1527824666666667, 5.5...","[-4.648576633333334, -0.1527824666666667, 5.57..."
1,20191721032,3.36,"[[-2.462165133333333, -1.2517511333333333, 6.6...","[-2.462165133333333, -1.2517511333333333, 6.63..."
2,201906004,3.54,"[[-3.7282987317142857, 1.0043741571428575, 5.0...","[-3.7282987317142857, 1.0043741571428575, 5.03..."
3,201822048,3.98,"[[-2.4070685, 1.4974684000000003, 0.9653421999...","[-2.4070685, 1.4974684000000003, 0.96534219999..."
4,201822042,3.51,"[[-5.945544979999999, 2.07371892, 5.2692115799...","[-5.945544979999999, 2.07371892, 5.26921157999..."

In [18]:
data.score = data.score.astype(np.float32)

In [19]:
target = data.score.to_list()

In [20]:
target =  np.array(target)
target = target.astype(np.float32)

In [21]:
vector_100 = data.vector_100.to_list()

In [22]:
vector_100 = np.array(vector_100)

In [23]:
from tensorflow.python.keras.models import Sequential
import tensorflow as tf
from tensorflow import keras
from tensorflow import initializers as init

In [24]:
model = Sequential()
model.add(keras.layers.Dense(4, input_shape=(100,), activation='sigmoid'))
model.add(keras.layers.Dense(1))

In [25]:
model.compile(loss = 'mse',
             optimizer='adam')

In [26]:
model.fit(vector_100/10, target, epochs=30, validation_split=0.1)

Epoch 1/30
97/97 [==============================] - 0s 2ms/step - loss: 12.4181 - val_loss: 8.4531
Epoch 2/30
97/97 [==============================] - 0s 2ms/step - loss: 8.0929 - val_loss: 6.1467
Epoch 3/30
97/97 [==============================] - 0s 2ms/step - loss: 6.3008 - val_loss: 4.8456
Epoch 4/30
97/97 [==============================] - 0s 1ms/step - loss: 5.1594 - val_loss: 3.9121
Epoch 5/30
97/97 [==============================] - 0s 1ms/step - loss: 4.2870 - val_loss: 3.1775
Epoch 6/30
97/97 [==============================] - 0s 1ms/step - loss: 3.5732 - val_loss: 2.5730
Epoch 7/30
97/97 [==============================] - 0s 1ms/step - loss: 2.9687 - val_loss: 2.0631
Epoch 8/30
97/97 [==============================] - 0s 1ms/step - loss: 2.4342 - val_loss: 1.5991
Epoch 9/30
97/97 [==============================] - 0s 1ms/step - loss: 1.8623 - val_loss: 1.0567
Epoch 10/30
97/97 [==============================] - 0s 1ms/step - loss: 1.2217 - val_loss: 0.6161
Epoch 11/30
97/97 [==============================] - 0s 1ms/step - loss: 0.7887 - val_loss: 0.3641
Epoch 12/30
97/97 [==============================] - 0s 1ms/step - loss: 0.5297 - val_loss: 0.2293
Epoch 13/30
97/97 [==============================] - 0s 1ms/step - loss: 0.3747 - val_loss: 0.1616
Epoch 14/30
97/97 [==============================] - 0s 1ms/step - loss: 0.2828 - val_loss: 0.1321
Epoch 15/30
97/97 [==============================] - 0s 1ms/step - loss: 0.2297 - val_loss: 0.1242
Epoch 16/30
97/97 [==============================] - 0s 1ms/step - loss: 0.2001 - val_loss: 0.1267
Epoch 17/30
97/97 [==============================] - 0s 1ms/step - loss: 0.1841 - val_loss: 0.1334
Epoch 18/30
97/97 [==============================] - 0s 1ms/step - loss: 0.1757 - val_loss: 0.1410
Epoch 19/30
97/97 [==============================] - 0s 1ms/step - loss: 0.1715 - val_loss: 0.1481
Epoch 20/30
97/97 [==============================] - 0s 1ms/step - loss: 0.1694 - val_loss: 0.1535
Epoch 21/30
97/97 [==============================] - 0s 1ms/step - loss: 0.1684 - val_loss: 0.1573
Epoch 22/30
97/97 [==============================] - 0s 1ms/step - loss: 0.1679 - val_loss: 0.1595
Epoch 23/30
97/97 [==============================] - 0s 2ms/step - loss: 0.1675 - val_loss: 0.1621
Epoch 24/30
97/97 [==============================] - 0s 1ms/step - loss: 0.1673 - val_loss: 0.1633
Epoch 25/30
97/97 [==============================] - 0s 1ms/step - loss: 0.1671 - val_loss: 0.1642
Epoch 26/30
97/97 [==============================] - 0s 1ms/step - loss: 0.1669 - val_loss: 0.1636
Epoch 27/30
97/97 [==============================] - 0s 2ms/step - loss: 0.1667 - val_loss: 0.1649
Epoch 28/30
97/97 [==============================] - 0s 1ms/step - loss: 0.1666 - val_loss: 0.1640
Epoch 29/30
97/97 [==============================] - 0s 1ms/step - loss: 0.1664 - val_loss: 0.1647
Epoch 30/30
97/97 [==============================] - 0s 1ms/step - loss: 0.1662 - val_loss: 0.1657

In [27]:
num_sen = []
for i in data.vector:
    num_sen.append(i.shape[0])

In [28]:
num_sen = np.array(num_sen)

In [29]:
np.mean(num_sen)

70.13701431492842

In [30]:
max_sen = np.mean(num_sen) + 2 * np.std(num_sen)
max_sen = int(max_sen)
max_sen# = 50

168

In [31]:
# 句子的个数可以覆盖的范围
np.sum(num_sen < max_sen) / len(num_sen)

0.9932807478819748

In [32]:
def uniform(content):
    if (content.shape[0]>=max_sen):
        return content[0:max_sen]
    else:
        return np.pad(content, [[0, max_sen-content.shape[0]], [0, 0]])

In [33]:
data.vector = data.vector.apply(uniform)

In [34]:
vector = np.array(data.vector.to_list())

In [35]:
vector.shape

(3423, 168, 100)

In [36]:
# Load the TensorBoard notebook extension
%load_ext tensorboard

In [37]:
# Clear any logs from previous runs
!rm -rf ./logs/

In [56]:
log_dir = "./logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = tf.keras.callbacks.TensorBoard(log_dir=log_dir, histogram_freq=1)

In [58]:
from sklearn.model_selection import train_test_split

In [59]:
X_train, X_test, y_train, y_test = train_test_split(vector,
                                                    target,
                                                    test_size=0.1,
                                                    random_state=12)

In [60]:
model2 = Sequential()
model2.add(keras.layers.Dense(20, input_shape=(168,100), activation='relu'))
model2.add(keras.layers.Dense(10))
model2.add(keras.layers.Dense(5, activation='relu'))
model2.add(keras.layers.Dense(1, activation='linear'))

In [61]:
model2.compile(loss='mse',
                optimizer='rmsprop')

In [62]:
model2.fit(X_train, y_train, epochs=50, validation_split=0.1, batch_size=128, callbacks=[tensorboard_callback])

Epoch 1/50
22/22 [==============================] - 1s 25ms/step - loss: 9.8554 - val_loss: 8.4107
Epoch 2/50
22/22 [==============================] - 0s 17ms/step - loss: 8.2139 - val_loss: 7.7754
Epoch 3/50
22/22 [==============================] - 0s 16ms/step - loss: 7.4920 - val_loss: 6.9728
Epoch 4/50
22/22 [==============================] - 0s 18ms/step - loss: 6.6303 - val_loss: 6.0115
Epoch 5/50
22/22 [==============================] - 1s 23ms/step - loss: 5.6012 - val_loss: 4.8977
Epoch 6/50
22/22 [==============================] - 0s 20ms/step - loss: 4.4195 - val_loss: 3.6608
Epoch 7/50
22/22 [==============================] - 0s 20ms/step - loss: 3.1466 - val_loss: 2.4065
Epoch 8/50
22/22 [==============================] - 0s 19ms/step - loss: 1.9225 - val_loss: 1.2975
Epoch 9/50
22/22 [==============================] - 0s 21ms/step - loss: 0.9772 - val_loss: 0.5798
Epoch 10/50
22/22 [==============================] - 0s 18ms/step - loss: 0.4988 - val_loss: 0.3653
Epoch 11/50
22/22 [==============================] - 0s 20ms/step - loss: 0.3650 - val_loss: 0.3331
Epoch 12/50
22/22 [==============================] - 0s 20ms/step - loss: 0.3383 - val_loss: 0.2851
Epoch 13/50
22/22 [==============================] - 0s 20ms/step - loss: 0.3076 - val_loss: 0.3695
Epoch 14/50
22/22 [==============================] - 0s 20ms/step - loss: 0.2978 - val_loss: 0.2517
Epoch 15/50
22/22 [==============================] - 1s 25ms/step - loss: 0.2889 - val_loss: 0.2612
Epoch 16/50
22/22 [==============================] - 1s 23ms/step - loss: 0.2689 - val_loss: 0.2661
Epoch 17/50
22/22 [==============================] - 0s 20ms/step - loss: 0.2702 - val_loss: 0.2479
Epoch 18/50
22/22 [==============================] - 0s 20ms/step - loss: 0.2580 - val_loss: 0.2189
Epoch 19/50
22/22 [==============================] - 0s 20ms/step - loss: 0.2568 - val_loss: 0.2191
Epoch 20/50
22/22 [==============================] - 0s 20ms/step - loss: 0.2513 - val_loss: 0.2095
Epoch 21/50
22/22 [==============================] - 0s 20ms/step - loss: 0.2443 - val_loss: 0.2664
Epoch 22/50
22/22 [==============================] - 0s 20ms/step - loss: 0.2378 - val_loss: 0.2241
Epoch 23/50
22/22 [==============================] - 0s 20ms/step - loss: 0.2446 - val_loss: 0.1987
Epoch 24/50
22/22 [==============================] - 0s 21ms/step - loss: 0.2292 - val_loss: 0.1953
Epoch 25/50
22/22 [==============================] - 0s 20ms/step - loss: 0.2361 - val_loss: 0.1988
Epoch 26/50
22/22 [==============================] - 0s 20ms/step - loss: 0.2221 - val_loss: 0.2082
Epoch 27/50
22/22 [==============================] - 0s 19ms/step - loss: 0.2350 - val_loss: 0.1982
Epoch 28/50
22/22 [==============================] - 0s 19ms/step - loss: 0.2262 - val_loss: 0.1885
Epoch 29/50
22/22 [==============================] - 0s 21ms/step - loss: 0.2190 - val_loss: 0.2099
Epoch 30/50
22/22 [==============================] - 0s 20ms/step - loss: 0.2203 - val_loss: 0.1996
Epoch 31/50
22/22 [==============================] - 0s 20ms/step - loss: 0.2236 - val_loss: 0.1966
Epoch 32/50
22/22 [==============================] - 0s 20ms/step - loss: 0.2144 - val_loss: 0.1897
Epoch 33/50
22/22 [==============================] - 0s 20ms/step - loss: 0.2193 - val_loss: 0.1770
Epoch 34/50
22/22 [==============================] - 0s 20ms/step - loss: 0.2158 - val_loss: 0.1731
Epoch 35/50
22/22 [==============================] - 0s 21ms/step - loss: 0.2092 - val_loss: 0.1768
Epoch 36/50
22/22 [==============================] - 0s 20ms/step - loss: 0.2121 - val_loss: 0.1773
Epoch 37/50
22/22 [==============================] - 0s 19ms/step - loss: 0.2139 - val_loss: 0.1696
Epoch 38/50
22/22 [==============================] - 0s 20ms/step - loss: 0.2088 - val_loss: 0.1680
Epoch 39/50
22/22 [==============================] - 0s 21ms/step - loss: 0.2029 - val_loss: 0.1667
Epoch 40/50
22/22 [==============================] - 0s 20ms/step - loss: 0.2059 - val_loss: 0.1661
Epoch 41/50
22/22 [==============================] - 0s 20ms/step - loss: 0.2077 - val_loss: 0.1692
Epoch 42/50
22/22 [==============================] - 0s 20ms/step - loss: 0.1963 - val_loss: 0.1998
Epoch 43/50
22/22 [==============================] - 0s 21ms/step - loss: 0.2041 - val_loss: 0.1869
Epoch 44/50
22/22 [==============================] - 0s 20ms/step - loss: 0.1979 - val_loss: 0.1612
Epoch 45/50
22/22 [==============================] - 0s 19ms/step - loss: 0.2005 - val_loss: 0.1744
Epoch 46/50
22/22 [==============================] - 0s 20ms/step - loss: 0.1992 - val_loss: 0.1722
Epoch 47/50
22/22 [==============================] - 0s 21ms/step - loss: 0.1963 - val_loss: 0.1587
Epoch 48/50
22/22 [==============================] - 0s 20ms/step - loss: 0.1907 - val_loss: 0.1594
Epoch 49/50
22/22 [==============================] - 0s 22ms/step - loss: 0.1956 - val_loss: 0.2068
Epoch 50/50
22/22 [==============================] - 0s 22ms/step - loss: 0.1947 - val_loss: 0.1605

In [63]:
%tensorboard --logdir ./logs/fit

Reusing TensorBoard on port 6007 (pid 48162), started 0:03:43 ago. (Use '!kill 48162' to kill it.)